<div class="">
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Id</th>
        <th>Role</th>
        <th>Description</th>
        <th>Location, Date, and Time</th>
        <!-- <th>Pay</th> -->
        <th>Link</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>DONE</td>
      </tr>

    </tbody>
  </table>
</div>%    