<!DOCTYPE html>
<html>
<head>
  <title>VinovaTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div class="blog-footer">
  
  <p>
    <a href="#">Back to top</a>
  </p>
</div>
</body>
</html>
